
    body{
    
    background-color: #a7e9af;
    
    }

    hr{
        border-style: none;
        border-top-style:dotted ;
        border-color:blue;
        border-width: 5px;
        border-left-width:50%;
    }  
    h1{
        color: #00a8cc;
       



    }

    h1{
        outline-width: 120px;
       



    }




    h3{
        color:#00a8cc;
        text-size-adjust: 120px;



    }
    h4{
        color: #00a8cc;
       



    }







    


