<Style>
    body{
    
    background-color: rgb(125, 157, 175);
    
    }

    hr{
        border-style: none;
        border-top-style:dotted ;
        border-color: rgb(168, 10, 10);
        border-width: 5px;
        border-left-width:50%;
    }  
    h1{
        color:blue);
       



    }

    h1{
        outline-width: 120px;
       



    }




    h3{
        color: white;
        text-size-adjust: 120px;



    }
    h4{
        color: white;
       



    }







    
    </Style>


